POSTGRES_DB=agent_forge
POSTGRES_USER=agent_forge
POSTGRES_PASSWORD=change-me
AF_SECRET_KEY=replace-with-at-least-32-random-characters
MINIO_ROOT_USER=agent_forge
MINIO_ROOT_PASSWORD=replace-this-password
